body{
    margin: 0 auto;
    
}

header {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-size: 20%;
}

.logo{
    width: 200px;
    padding-top: 50px; 
    padding-left: 15%; 
}

main{
    margin: 0 auto;
    padding-left: 15%;
    padding-right: 15%;    
}

.grigio{
    color: grey;
    padding-bottom: 10px;
}

.sottotitolo{
    font-size: 9px;
}

#azzurro{
    color: rgb(60, 219, 240);
}

h1{
    margin-bottom: 5px;
    text-align: justify;
}

.paragrafi p{
    margin: 0;
    font-size: 11px;
}

.Lorem{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: justify;
}

.lista ul{
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.sottolineatura{
    background-color: yellow;
}

table{
    width: 100%;
    border-collapse: collapse;

}

thead{
    background-color: rgb(64, 173, 224);
}

thead tr th{
    color: #ffffff;
    padding-right: 50px;
}

.inline{
    white-space: nowrap;
}

.azzurrino{
    background-color:rgb(180, 231, 238)
}

footer {
    color: grey;
    font-size: 22px;
}

.img_1{
    height: 200px;
    width: 250px;
    background-image: url(img/monitor.jpg);
    font-size: 22px;
    font-weight: 800;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.img_2{
    height: 200px;
    width: 250px;
    background-image: url(img/graph.jpg);
    font-size: 22px;
    font-weight: 800;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
}

